body {
            background-image: url(reggae.gif);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 1500px 1000px ; 
            background-position: center;
        }
	img{ 
        background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 500px;
            background-position: center;
	}
   audio {
            display: block;
            margin: 20px auto;
            width: 100%;
        }
    p{font-size: 130%;
    }


</style>
<body >